<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>--Alpha_Keys--</key>
	<array>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>E</string>
		<string>G</string>
		<string>H</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>W</string>
		<string>Y</string>
	</array>
	<key>A</key>
	<array>
		<dict>
			<key>Common_Name</key>
			<string>Arctic Tern</string>
			<key>Group_Name</key>
			<string>Terns</string>
			<key>Latin_Name</key>
			<string>Sterna paradisaea</string>
			<key>Status_Categories</key>
			<array>
				<string>Summer Visitor</string>
			</array>
			<key>URL_Suffix</key>
			<string>Arctic_Tern</string>
		</dict>
		<dict>
			<key>Common_Name</key>
			<string>Atlantic Puffin</string>
			<key>Group_Name</key>
			<string>Auks</string>
			<key>Latin_Name</key>
			<string>Fratercula arctica</string>
			<key>Status_Categories</key>
			<array>
				<string>Summer Visitor</string>
			</array>
			<key>URL_Suffix</key>
			<string>Atlantic_Puffin</string>
		</dict>
	</array>
	<key>B</key>
	<array>
		<dict>
			<key>Common_Name</key>
			<string>Black-legged Kittiwake</string>
			<key>Group_Name</key>
			<string>Gulls</string>
			<key>Latin_Name</key>
			<string>Rissa tridactyla</string>
			<key>Status_Categories</key>
			<array>
				<string>Resident Breeder</string>
				<string>Summer Visitor</string>
			</array>
			<key>URL_Suffix</key>
			<string>Black-legged_Kittiwake</string>
		</dict>
		<dict>
			<key>Common_Name</key>
			<string>Barn Swallow</string>
			<key>Group_Name</key>
			<string>Swallows and martins</string>
			<key>Latin_Name</key>
			<string>Hirundo rustica</string>
			<key>Status_Categories</key>
			<array>
				<string>Summer Visitor</string>
			</array>
			<key>URL_Suffix</key>
			<string>Barn_Swallow</string>
		</dict>
		<dict>
			<key>Common_Name</key>
			<string>Blackcap</string>
			<key>Group_Name</key>
			<string>Old World warblers</string>
			<key>Latin_Name</key>
			<string>Sylvia atricapilla</string>
			<key>Status_Categories</key>
			<array>
				<string>Resident Breeder</string>
				<string>Summer Visitor</string>
			</array>
			<key>URL_Suffix</key>
			<string>Blackcap</string>
		</dict>
	</array>
	<key>C</key>
	<array>
		<dict>
			<key>Common_Name</key>
			<string>Common Quail</string>
			<key>Group_Name</key>
			<string>Pheasants, partridges and quail</string>
			<key>Latin_Name</key>
			<string>Coturnix coturnix</string>
			<key>Status_Categories</key>
			<array>
				<string>Summer Visitor</string>
			</array>
			<key>URL_Suffix</key>
			<string>Common_Quail</string>
		</dict>
		<dict>
			<key>Common_Name</key>
			<string>Corn Crake</string>
			<key>Group_Name</key>
			<string>Rails, crakes and coots</string>
			<key>Latin_Name</key>
			<string>Crex crex</string>
			<key>Status_Categories</key>
			<array>
				<string>Summer Visitor</string>
			</array>
			<key>URL_Suffix</key>
			<string>Corn_Crake</string>
		</dict>
		<dict>
			<key>Common_Name</key>
			<string>Common Snipe</string>
			<key>Group_Name</key>
			<string>Sandpipers and allies</string>
			<key>Latin_Name</key>
			<string>Gallinago gallinago</string>
			<key>Status_Categories</key>
			<array>
				<string>Resident Breeder</string>
				<string>Summer Visitor</string>
			</array>
			<key>URL_Suffix</key>
			<string>Common_Snipe</string>
		</dict>
		<dict>
			<key>Common_Name</key>
			<string>Common Tern</string>
			<key>Group_Name</key>
			<string>Terns</string>
			<key>Latin_Name</key>
			<string>Sterna hirundo</string>
			<key>Status_Categories</key>
			<array>
				<string>Summer Visitor</string>
			</array>
			<key>URL_Suffix</key>
			<string>Common_Tern</string>
		</dict>
		<dict>
			<key>Common_Name</key>
			<string>Common Guillemot</string>
			<key>Group_Name</key>
			<string>Auks</string>
			<key>Latin_Name</key>
			<string>Uria aalge</string>
			<key>Status_Categories</key>
			<array>
				<string>Resident Breeder</string>
				<string>Summer Visitor</string>
			</array>
			<key>URL_Suffix</key>
			<string>Common_Guillemot</string>
		</dict>
		<dict>
			<key>Common_Name</key>
			<string>Common Cuckoo</string>
			<key>Group_Name</key>
			<string>Cuckoos</string>
			<key>Latin_Name</key>
			<string>Cuculus canorus</string>
			<key>Status_Categories</key>
			<array>
				<string>Summer Visitor</string>
			</array>
			<key>URL_Suffix</key>
			<string>Common_Cuckoo</string>
		</dict>
		<dict>
			<key>Common_Name</key>
			<string>Common Swift</string>
			<key>Group_Name</key>
			<string>Swifts</string>
			<key>Latin_Name</key>
			<string>Apus apus</string>
			<key>Status_Categories</key>
			<array>
				<string>Summer Visitor</string>
			</array>
			<key>URL_Suffix</key>
			<string>Common_Swift</string>
		</dict>
		<dict>
			<key>Common_Name</key>
			<string>Common Redstart</string>
			<key>Group_Name</key>
			<string>Thrushes</string>
			<key>Latin_Name</key>
			<string>Phoenicurus phoenicurus</string>
			<key>Status_Categories</key>
			<array>
				<string>Summer Visitor</string>
			</array>
			<key>URL_Suffix</key>
			<string>Common_Redstart</string>
		</dict>
		<dict>
			<key>Common_Name</key>
			<string>Common Chiffchaff</string>
			<key>Group_Name</key>
			<string>Old World warblers</string>
			<key>Latin_Name</key>
			<string>Phylloscopus collybita</string>
			<key>Status_Categories</key>
			<array>
				<string>Summer Visitor</string>
			</array>
			<key>URL_Suffix</key>
			<string>Common_Chiffchaff</string>
		</dict>
	</array>
	<key>E</key>
	<array>
		<dict>
			<key>Common_Name</key>
			<string>European Storm-petrel</string>
			<key>Group_Name</key>
			<string>Storm petrels</string>
			<key>Latin_Name</key>
			<string>Hydrobates pelagicus</string>
			<key>Status_Categories</key>
			<array>
				<string>Summer Visitor</string>
			</array>
			<key>URL_Suffix</key>
			<string>European_Storm-petrel</string>
		</dict>
		<dict>
			<key>Common_Name</key>
			<string>European Honey-Buzzard</string>
			<key>Group_Name</key>
			<string>Buzzards, kites and allies</string>
			<key>Latin_Name</key>
			<string>Pernis apivorus</string>
			<key>Status_Categories</key>
			<array>
				<string>Summer Visitor</string>
				<string>Passage Migrant</string>
			</array>
			<key>URL_Suffix</key>
			<string>European_Honey-buzzard</string>
		</dict>
		<dict>
			<key>Common_Name</key>
			<string>Eurasian Hobby</string>
			<key>Group_Name</key>
			<string>Falcons</string>
			<key>Latin_Name</key>
			<string>Falco subbuteo</string>
			<key>Status_Categories</key>
			<array>
				<string>Summer Visitor</string>
			</array>
			<key>URL_Suffix</key>
			<string>Eurasian_Hobby</string>
		</dict>
		<dict>
			<key>Common_Name</key>
			<string>Eurasian Stone-Curlew</string>
			<key>Group_Name</key>
			<string>Thick-knees</string>
			<key>Latin_Name</key>
			<string>Burhinus oedicnemus</string>
			<key>Status_Categories</key>
			<array>
				<string>Summer Visitor</string>
			</array>
			<key>URL_Suffix</key>
			<string>Eurasian_Stone-curlew</string>
		</dict>
		<dict>
			<key>Common_Name</key>
			<string>Eurasian Dotterel</string>
			<key>Group_Name</key>
			<string>Plovers and lapwings</string>
			<key>Latin_Name</key>
			<string>Charadrius morinellus</string>
			<key>Status_Categories</key>
			<array>
				<string>Summer Visitor</string>
			</array>
			<key>URL_Suffix</key>
			<string>Eurasian_Dotterel</string>
		</dict>
		<dict>
			<key>Common_Name</key>
			<string>European Nightjar</string>
			<key>Group_Name</key>
			<string>Nightjars</string>
			<key>Latin_Name</key>
			<string>Caprimulgus europaeus</string>
			<key>Status_Categories</key>
			<array>
				<string>Summer Visitor</string>
			</array>
			<key>URL_Suffix</key>
			<string>European_Nightjar</string>
		</dict>
		<dict>
			<key>Common_Name</key>
			<string>European Bee-eater</string>
			<key>Group_Name</key>
			<string>Bee-eaters</string>
			<key>Latin_Name</key>
			<string>Merops apiaster</string>
			<key>Status_Categories</key>
			<array>
				<string>Rare/Vagrant</string>
				<string>Summer Visitor</string>
			</array>
			<key>URL_Suffix</key>
			<string>European_Bee-eater</string>
		</dict>
		<dict>
			<key>Common_Name</key>
			<string>Eurasian Reed Warbler</string>
			<key>Group_Name</key>
			<string>Old World warblers</string>
			<key>Latin_Name</key>
			<string>Acrocephalus scirpaceus</string>
			<key>Status_Categories</key>
			<array>
				<string>Summer Visitor</string>
			</array>
			<key>URL_Suffix</key>
			<string>Eurasian_Reed_Warbler</string>
		</dict>
		<dict>
			<key>Common_Name</key>
			<string>European Pied Flycatcher</string>
			<key>Group_Name</key>
			<string>Old World flycatchers</string>
			<key>Latin_Name</key>
			<string>Ficedula hypoleuca</string>
			<key>Status_Categories</key>
			<array>
				<string>Summer Visitor</string>
			</array>
			<key>URL_Suffix</key>
			<string>European_Pied_Flycatcher</string>
		</dict>
	</array>
	<key>G</key>
	<array>
		<dict>
			<key>Common_Name</key>
			<string>Garganey</string>
			<key>Group_Name</key>
			<string>Ducks, geese and swans</string>
			<key>Latin_Name</key>
			<string>Anas querquedula</string>
			<key>Status_Categories</key>
			<array>
				<string>Summer Visitor</string>
			</array>
			<key>URL_Suffix</key>
			<string>Garganey</string>
		</dict>
		<dict>
			<key>Common_Name</key>
			<string>Grasshopper Warbler</string>
			<key>Group_Name</key>
			<string>Old World warblers</string>
			<key>Latin_Name</key>
			<string>Locustella naevia</string>
			<key>Status_Categories</key>
			<array>
				<string>Summer Visitor</string>
			</array>
			<key>URL_Suffix</key>
			<string>Grasshopper_Warbler</string>
		</dict>
		<dict>
			<key>Common_Name</key>
			<string>Garden Warbler</string>
			<key>Group_Name</key>
			<string>Old World warblers</string>
			<key>Latin_Name</key>
			<string>Sylvia borin</string>
			<key>Status_Categories</key>
			<array>
				<string>Summer Visitor</string>
			</array>
			<key>URL_Suffix</key>
			<string>Garden_Warbler</string>
		</dict>
		<dict>
			<key>Common_Name</key>
			<string>Golden Oriole</string>
			<key>Group_Name</key>
			<string>Old World orioles</string>
			<key>Latin_Name</key>
			<string>Oriolus oriolus</string>
			<key>Status_Categories</key>
			<array>
				<string>Rare/Vagrant</string>
				<string>Summer Visitor</string>
			</array>
			<key>URL_Suffix</key>
			<string>Golden_Oriole</string>
		</dict>
	</array>
	<key>H</key>
	<array>
		<dict>
			<key>Common_Name</key>
			<string>House Martin</string>
			<key>Group_Name</key>
			<string>Swallows and martins</string>
			<key>Latin_Name</key>
			<string>Delichon urbicum</string>
			<key>Status_Categories</key>
			<array>
				<string>Summer Visitor</string>
			</array>
			<key>URL_Suffix</key>
			<string>House_Martin</string>
		</dict>
	</array>
	<key>L</key>
	<array>
		<dict>
			<key>Common_Name</key>
			<string>Little Ringed Plover</string>
			<key>Group_Name</key>
			<string>Plovers and lapwings</string>
			<key>Latin_Name</key>
			<string>Charadrius dubius</string>
			<key>Status_Categories</key>
			<array>
				<string>Summer Visitor</string>
			</array>
			<key>URL_Suffix</key>
			<string>Little_Ringed_Plover</string>
		</dict>
		<dict>
			<key>Common_Name</key>
			<string>Little Tern</string>
			<key>Group_Name</key>
			<string>Terns</string>
			<key>Latin_Name</key>
			<string>Sternula albifrons</string>
			<key>Status_Categories</key>
			<array>
				<string>Summer Visitor</string>
			</array>
			<key>URL_Suffix</key>
			<string>Little_Tern</string>
		</dict>
		<dict>
			<key>Common_Name</key>
			<string>Lesser Whitethroat</string>
			<key>Group_Name</key>
			<string>Old World warblers</string>
			<key>Latin_Name</key>
			<string>Sylvia curruca</string>
			<key>Status_Categories</key>
			<array>
				<string>Summer Visitor</string>
			</array>
			<key>URL_Suffix</key>
			<string>Lesser_Whitethroat</string>
		</dict>
	</array>
	<key>M</key>
	<array>
		<dict>
			<key>Common_Name</key>
			<string>Manx Shearwater</string>
			<key>Group_Name</key>
			<string>Shearwaters and petrels</string>
			<key>Latin_Name</key>
			<string>Puffinus puffinus</string>
			<key>Status_Categories</key>
			<array>
				<string>Summer Visitor</string>
			</array>
			<key>URL_Suffix</key>
			<string>Manx_Shearwater</string>
		</dict>
		<dict>
			<key>Common_Name</key>
			<string>Montagu's Harrier</string>
			<key>Group_Name</key>
			<string>Buzzards, kites and allies</string>
			<key>Latin_Name</key>
			<string>Circus pygargus</string>
			<key>Status_Categories</key>
			<array>
				<string>Summer Visitor</string>
				<string>Passage Migrant</string>
			</array>
			<key>URL_Suffix</key>
			<string>Montagu's_Harrier</string>
		</dict>
		<dict>
			<key>Common_Name</key>
			<string>Mediterranean Gull</string>
			<key>Group_Name</key>
			<string>Gulls</string>
			<key>Latin_Name</key>
			<string>Larus melanocephalus</string>
			<key>Status_Categories</key>
			<array>
				<string>Summer Visitor</string>
			</array>
			<key>URL_Suffix</key>
			<string>Mediterranean_Gull</string>
		</dict>
		<dict>
			<key>Common_Name</key>
			<string>Marsh Warbler</string>
			<key>Group_Name</key>
			<string>Old World warblers</string>
			<key>Latin_Name</key>
			<string>Acrocephalus palustris</string>
			<key>Status_Categories</key>
			<array>
				<string>Summer Visitor</string>
			</array>
			<key>URL_Suffix</key>
			<string>Marsh_Warbler</string>
		</dict>
	</array>
	<key>N</key>
	<array>
		<dict>
			<key>Common_Name</key>
			<string>Northern Gannet</string>
			<key>Group_Name</key>
			<string>Gannets</string>
			<key>Latin_Name</key>
			<string>Morus bassanus</string>
			<key>Status_Categories</key>
			<array>
				<string>Summer Visitor</string>
				<string>Passage Migrant</string>
			</array>
			<key>URL_Suffix</key>
			<string>Northern_Gannet</string>
		</dict>
		<dict>
			<key>Common_Name</key>
			<string>Nightingale</string>
			<key>Group_Name</key>
			<string>Thrushes</string>
			<key>Latin_Name</key>
			<string>Luscinia megarhynchos</string>
			<key>Status_Categories</key>
			<array>
				<string>Summer Visitor</string>
			</array>
			<key>URL_Suffix</key>
			<string>Nightingale</string>
		</dict>
		<dict>
			<key>Common_Name</key>
			<string>Northern Wheatear</string>
			<key>Group_Name</key>
			<string>Thrushes</string>
			<key>Latin_Name</key>
			<string>Oenanthe oenanthe</string>
			<key>Status_Categories</key>
			<array>
				<string>Summer Visitor</string>
				<string>Passage Migrant</string>
			</array>
			<key>URL_Suffix</key>
			<string>Northern_Wheatear</string>
		</dict>
	</array>
	<key>O</key>
	<array>
		<dict>
			<key>Common_Name</key>
			<string>Osprey</string>
			<key>Group_Name</key>
			<string>Osprey</string>
			<key>Latin_Name</key>
			<string>Pandion haliaetus</string>
			<key>Status_Categories</key>
			<array>
				<string>Summer Visitor</string>
			</array>
			<key>URL_Suffix</key>
			<string>Osprey</string>
		</dict>
	</array>
	<key>R</key>
	<array>
		<dict>
			<key>Common_Name</key>
			<string>Ringed Plover</string>
			<key>Group_Name</key>
			<string>Plovers and lapwings</string>
			<key>Latin_Name</key>
			<string>Charadrius hiaticula</string>
			<key>Status_Categories</key>
			<array>
				<string>Resident Breeder</string>
				<string>Summer Visitor</string>
			</array>
			<key>URL_Suffix</key>
			<string>Ringed_Plover</string>
		</dict>
		<dict>
			<key>Common_Name</key>
			<string>Roseate Tern</string>
			<key>Group_Name</key>
			<string>Terns</string>
			<key>Latin_Name</key>
			<string>Sterna dougallii</string>
			<key>Status_Categories</key>
			<array>
				<string>Rare/Vagrant</string>
				<string>Summer Visitor</string>
			</array>
			<key>URL_Suffix</key>
			<string>Roseate_Tern</string>
		</dict>
		<dict>
			<key>Common_Name</key>
			<string>Razorbill</string>
			<key>Group_Name</key>
			<string>Auks</string>
			<key>Latin_Name</key>
			<string>Alca torda</string>
			<key>Status_Categories</key>
			<array>
				<string>Resident Breeder</string>
				<string>Summer Visitor</string>
			</array>
			<key>URL_Suffix</key>
			<string>Razorbill</string>
		</dict>
		<dict>
			<key>Common_Name</key>
			<string>Ring Ouzel</string>
			<key>Group_Name</key>
			<string>Thrushes</string>
			<key>Latin_Name</key>
			<string>Turdus torquatus</string>
			<key>Status_Categories</key>
			<array>
				<string>Summer Visitor</string>
			</array>
			<key>URL_Suffix</key>
			<string>Ring_Ouzel</string>
		</dict>
	</array>
	<key>S</key>
	<array>
		<dict>
			<key>Common_Name</key>
			<string>Spotted Crake</string>
			<key>Group_Name</key>
			<string>Rails, crakes and coots</string>
			<key>Latin_Name</key>
			<string>Porzana porzana</string>
			<key>Status_Categories</key>
			<array>
				<string>Rare/Vagrant</string>
				<string>Summer Visitor</string>
			</array>
			<key>URL_Suffix</key>
			<string>Spotted_Crake</string>
		</dict>
		<dict>
			<key>Common_Name</key>
			<string>Sandwich Tern</string>
			<key>Group_Name</key>
			<string>Terns</string>
			<key>Latin_Name</key>
			<string>Sterna sandvicensis</string>
			<key>Status_Categories</key>
			<array>
				<string>Summer Visitor</string>
			</array>
			<key>URL_Suffix</key>
			<string>Sandwich_Tern</string>
		</dict>
		<dict>
			<key>Common_Name</key>
			<string>Sand Martin</string>
			<key>Group_Name</key>
			<string>Swallows and martins</string>
			<key>Latin_Name</key>
			<string>Riparia riparia</string>
			<key>Status_Categories</key>
			<array>
				<string>Summer Visitor</string>
			</array>
			<key>URL_Suffix</key>
			<string>Sand_Martin</string>
		</dict>
		<dict>
			<key>Common_Name</key>
			<string>Sedge Warbler</string>
			<key>Group_Name</key>
			<string>Old World warblers</string>
			<key>Latin_Name</key>
			<string>Acrocephalus schoenobaenus</string>
			<key>Status_Categories</key>
			<array>
				<string>Summer Visitor</string>
			</array>
			<key>URL_Suffix</key>
			<string>Sedge_Warbler</string>
		</dict>
		<dict>
			<key>Common_Name</key>
			<string>Spotted Flycatcher</string>
			<key>Group_Name</key>
			<string>Old World flycatchers</string>
			<key>Latin_Name</key>
			<string>Muscicapa striata</string>
			<key>Status_Categories</key>
			<array>
				<string>Summer Visitor</string>
			</array>
			<key>URL_Suffix</key>
			<string>Spotted_Flycatcher</string>
		</dict>
	</array>
	<key>T</key>
	<array>
		<dict>
			<key>Common_Name</key>
			<string>Turtle Dove</string>
			<key>Group_Name</key>
			<string>Pigeons and doves</string>
			<key>Latin_Name</key>
			<string>Streptopelia turtur</string>
			<key>Status_Categories</key>
			<array>
				<string>Summer Visitor</string>
			</array>
			<key>URL_Suffix</key>
			<string>Turtle_Dove</string>
		</dict>
		<dict>
			<key>Common_Name</key>
			<string>Tree Pipit</string>
			<key>Group_Name</key>
			<string>Wagtails and pipits</string>
			<key>Latin_Name</key>
			<string>Anthus trivialis</string>
			<key>Status_Categories</key>
			<array>
				<string>Summer Visitor</string>
			</array>
			<key>URL_Suffix</key>
			<string>Tree_Pipit</string>
		</dict>
	</array>
	<key>W</key>
	<array>
		<dict>
			<key>Common_Name</key>
			<string>Whimbrel</string>
			<key>Group_Name</key>
			<string>Sandpipers and allies</string>
			<key>Latin_Name</key>
			<string>Numenius phaeopus</string>
			<key>Status_Categories</key>
			<array>
				<string>Summer Visitor</string>
			</array>
			<key>URL_Suffix</key>
			<string>Whimbrel</string>
		</dict>
		<dict>
			<key>Common_Name</key>
			<string>Whinchat</string>
			<key>Group_Name</key>
			<string>Thrushes</string>
			<key>Latin_Name</key>
			<string>Saxicola rubetra</string>
			<key>Status_Categories</key>
			<array>
				<string>Summer Visitor</string>
				<string>Passage Migrant</string>
			</array>
			<key>URL_Suffix</key>
			<string>Whinchat</string>
		</dict>
		<dict>
			<key>Common_Name</key>
			<string>Willow Warbler</string>
			<key>Group_Name</key>
			<string>Old World warblers</string>
			<key>Latin_Name</key>
			<string>Phylloscopus trochilus</string>
			<key>Status_Categories</key>
			<array>
				<string>Summer Visitor</string>
			</array>
			<key>URL_Suffix</key>
			<string>Willow_Warbler</string>
		</dict>
		<dict>
			<key>Common_Name</key>
			<string>Wood Warbler</string>
			<key>Group_Name</key>
			<string>Old World warblers</string>
			<key>Latin_Name</key>
			<string>Phylloscopus sibilatrix</string>
			<key>Status_Categories</key>
			<array>
				<string>Summer Visitor</string>
			</array>
			<key>URL_Suffix</key>
			<string>Wood_Warbler</string>
		</dict>
		<dict>
			<key>Common_Name</key>
			<string>Whitethroat</string>
			<key>Group_Name</key>
			<string>Old World warblers</string>
			<key>Latin_Name</key>
			<string>Sylvia communis</string>
			<key>Status_Categories</key>
			<array>
				<string>Summer Visitor</string>
			</array>
			<key>URL_Suffix</key>
			<string>Whitethroat</string>
		</dict>
	</array>
	<key>Y</key>
	<array>
		<dict>
			<key>Common_Name</key>
			<string>Yellow-legged Gull</string>
			<key>Group_Name</key>
			<string>Gulls</string>
			<key>Latin_Name</key>
			<string>Larus michahellis</string>
			<key>Status_Categories</key>
			<array>
				<string>Summer Visitor</string>
				<string>Passage Migrant</string>
			</array>
			<key>URL_Suffix</key>
			<string>Yellow-legged_Gull</string>
		</dict>
	</array>
</dict>
</plist>
